.endGame {
    display: none;
    width: 200px;
    top: 200px;
    background-color: rgba(254, 255, 255, 0.7);
    position: absolute;
    left: 50%;
    margin-left: -92px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: rgb(184, 15, 15);
    font-family: 'Alata', sans-serif;
    font-size: 1.8em;
  }
  button{
    font-size: 15px;
    font-family: 'Alata', sans-serif;
    border-radius: 8px;
    background-color: rgb(92, 209, 14);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
body{
    background-color: rgb(213, 231, 110);
}
.canvas{
	position: relative;
	left: 51%;
	margin-left: -145px;
	top: 50px;
}